body {
  margin-bottom: 60px;  
}
html, body, td, div {
  font-size: 13px !important;
  font-family: "Source Code Pro";
}
input[type=text] {
  width: 125px;
}
input.entry {
  position: fixed;
  bottom: 20px;
  width: 75%;
  text-align: left;
}
.active {
  background: #e0e0ff;
}
div[tabindex], .result {
  margin-top: 2px;
  margin-bottom: 2px;
  /*text-align: center;*/
  cursor: pointer;
  border-radius: 7px;
}
.top {
  padding-bottom: 10px;
}
.title {
  opacity: 0.5;
}
.cmd {
  max-width: 250px;
}

.object {
}
.key {
  color: purple;
  padding: 2px 2px 2px 7px;
  vertical-align: top;
  font-size: 90%;
}
.key.object {
  padding-left: 0;
  margin-left: -11px;
}
.key.object:before {
  color: black;
  margin: 0 -3px 0 6px;
}
.key.object.closed:before {
  content: "\25B6";
}
.key.object.open:before {
  content: "\25BC";
}
.marker {
  color: black;
}
.value {
  list-style: none;
  font-size: 14px;
}
.value.object {
  padding: 2px 0 2px 12px;
}
.value.string {
  color: #A50000;
}
.value.number, .value.boolean {
  color: blue;
}